@media (min-width: 400px) {
  html {
    font-size: 87.5%;
  }

  .main-layout {
    max-width: 400px;
    margin: 0 auto;
  }

  .canvas-container {
    width: 350px;
    /* height: 350px; */
  }

  .canvas {
    border-radius: 12px;
  }

  .editor {
    width: 350px;
  }
}

/* MOBILE ONLY */
@media (max-width: 800px) {
  .main-nav {
    position: fixed;
    right: 0;
    top: 0;
    flex-direction: column;
    margin-top: 6rem;
    z-index: 100;
    background-color: rgba(11, 115, 133, 0.685);
    height: 1000vh;
    border-inline-start: 1px solid #ccc;
    width: 230px;
    transform: translateX(100%);

    transition: transform 0.4s, box-shadow 0.6s;
  }

  body.menu-open .main-nav {
    box-shadow: -6px 0px 17px rgb(0 0 0 / 35%);
    transform: translateX(0);
    z-index: 100;
  }

  body.menu-open .main-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 100%;
    border-block-end: 1px solid #fff;
  }

  body.menu-open .main-nav a:hover {
    background-color: #e3fafc;
    color: #1098ad;
  }

  body.menu-open .main-screen {
    pointer-events: auto;
    opacity: 1;
  }

  .header button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;

    border: none;

    font-size: 2rem;
    color: #fff;
    background-color: transparent;

    cursor: pointer;
  }

  .header button:hover {
    color: var(--hover-clr);
  }

  body.menu-open .header button {
    text-indent: -9999em;
    z-index: 100;
    position: relative;
  }

  body.menu-open .header button:after {
    text-indent: 0;
    content: 'X';
  }
}

@media (min-width: 800px) {
  .main-layout {
    max-width: 780px;
    margin: 0 auto;
  }

  .editor-container {
    align-items: center;
    justify-content: center;
    padding-top: 1.25rem;
  }

  .header {
    padding: 1rem;
    /* margin-bottom: 2.5rem; */
  }

  .header button {
    display: none;
  }

  .canvas-container {
    width: 400px;
    /* height: 400px; */
    /* margin-right: 0; */
  }

  .editor {
    width: 400px;
  }

  .editor-text-options {
    gap: 2.2rem;
  }
  .heading-primary-main {
    font-size: 2.5rem;
    letter-spacing: 0.6rem;
  }

  .heading-primary-sub {
    font-size: 1.35rem;
    letter-spacing: 0.2rem;
  }
}
@media (min-width: 980px) {
  html {
    font-size: 100%;
  }

  .main-layout {
    max-width: 1200px;
  }

  .header {
    padding: 1.5rem;
    margin-bottom: 2.5rem;
  }

  .editor-container {
    flex-direction: row;
  }

  .canvas-container {
    width: 450px;
    margin-bottom: 0;
  }

  .editor {
    width: 450px;
    margin-inline-start: 2rem;
  }

  .heading-primary-main {
    font-size: 2.25rem;
    letter-spacing: 1rem;
  }

  .heading-primary-sub {
    font-size: 1.375rem;
    letter-spacing: 0.3rem;
  }
}
