@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 60.5%;
}

body {
  font-weight: 400;
  line-height: 1.2;
  color: #0b7285;
  font-family: 'Rubik', sans-serif;
  background-color: #f8f9fa;
}
