.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.6em 0.9em;
  display: inline-block;
  border-radius: 6.25rem;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;

  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.input {
  width: 11.5rem;
  height: 2rem;
  padding: 0 1rem;
  padding-left: 2.2rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
.input:hover {
  outline: none;
  border-color: #1098ad86;
  background-color: #fff;
  box-shadow: 0 0 0 2px rgba(16, 152, 173, 0.247);
}

.icon {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  color: #9e9ea7;
  width: 1rem;
  height: 1.5rem;
}
