/* BUTTONS AND INPUTS */

.btn-hero:link,
.btn-hero:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.6em 0.9em;
  display: inline-block;
  border-radius: 6.25rem;
  transition: all 0.2s;
  position: relative;
}

.btn-hero:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn-hero:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn-hero::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;

  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn-hero:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.input {
  width: 11.5rem;
  height: 2rem;
  padding: 0 1rem;
  padding-left: 2.2rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
.input:hover {
  outline: none;
  border-color: #1098ad86;
  background-color: #fff;
  box-shadow: 0 0 0 2px rgba(16, 152, 173, 0.247);
}

.icon {
  position: absolute;
  left: 0.5rem;
  top: 1rem;
  color: #9e9ea7;
  width: 1rem;
  height: 1.5rem;
}

.btn-tool {
  position: relative;
  background: #ffffff;
  color: #000;
  border-radius: 10px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  padding: 0.3rem;
  height: 3.125rem;
  width: 3.125rem;
  text-decoration: none;
}

.tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.btn-tool:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

svg:hover span,
svg:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.btn-tool:hover,
.btn-tool:hover .tooltip,
.btn-tool:hover .tooltip::before {
  background: linear-gradient(320deg, #0b7285, #15aabf);
  color: #ffffff;
}

.btn-share {
  position: relative;
  font-size: 10px;
  letter-spacing: 1px;
  height: 3em;
  padding: 0 3em;
  border: none;
  background-color: #1098ad;
  color: #fff;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.btn-share a {
  text-decoration: none;
  color: inherit;
}

.btn-share::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  height: 0px;
  width: 100%;
  background: #1098ad80;
  background: linear-gradient(
    90deg,
    rgb(21, 170, 191) 20%,
    rgb(11, 114, 133) 100%
  );
  transition: 0.2s;
}

.btn-share .label {
  position: relative;
}

.btn-share .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  width: 3em;
  position: absolute;
  top: 3em;
  right: 0;
  opacity: 0;
  transition: 0.4s;
  color: #fff;
}

.btn-share:hover::before {
  height: 100%;
}

.btn-share:hover .icon {
  top: 0;
  opacity: 1;
}
