.alert {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 1rem;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -100%);
  opacity: 0;

  width: 22rem;
  height: 4.7rem;
  color: #fff;

  font-size: 1.5rem;
  background-color: #20c997;

  border-radius: 9px;
  box-shadow: 1px 3px 4px 0px rgb(0 0 0 / 40%);

  transition: all 0.4s;

  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );

  /* pointer-events: auto; */
}

.alert-open {
  transform: translate(-50%, 0);
  opacity: 1;
}
