.canvas-container {
  width: 350px;
  margin-bottom: 1.2rem;
  position: relative;
}

.canvas {
  border-radius: 12px;
  box-shadow: 0px 6px 10px 1px rgb(0 0 0 / 30%);
}

.canvas-container .canvas-input {
  position: absolute;
  height: fit-content;
}

.canvas-container .canvas-input input {
  background-color: rgba(255, 255, 255, 0.199);
  resize: none;
  outline: none;
}
