.editor-container {
  display: none;
  flex-direction: column;
  align-items: center;
}

.editor {
  flex-direction: column;

  width: 250px;
  padding: 1.2rem;

  border: 1px solid #99e9f2;
  background-color: #22b8cf;
  border-radius: 12px;
}

.editor .input {
  margin-bottom: 1.25rem;
}

.editor-tools {
  grid-template-columns: repeat(5, 1fr);
  gap: 1.65rem;
  margin-bottom: 1.25rem;
}

.editor .input {
  width: 100%;
  padding-left: 0.5rem;
}

.font-select {
  grid-column: span 3;
}

.emoji-selector {
  background-color: #fff;
  border-radius: 9px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1rem);
  gap: 0.5rem;
  padding: 0.5rem 0.3rem;
  margin-block-end: 1rem;
}

.emoji-selector span {
  cursor: pointer;
}

.share-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  margin-block-end: 1rem;
}

.tip {
  text-transform: uppercase;
  margin-block-end: 0.4rem;
  font-size: 0.7rem;
  text-align: center;
}
