.gallery {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* padding: 1.25rem; */
  /* padding: 3.75rem; */
  /* width: 100%; */
}

.gallery-options {
  margin-bottom: 1.25rem;
  justify-content: space-between;
  width: 100%;
}
.gallery-imgs {
  grid-template-columns: repeat(auto-fill, minmax(100px, 150px));
  gap: 0.9rem;
  width: 100%;
}

.gallery-img {
  cursor: pointer;
}

.gallery-img img {
  width: 100%;
  border-radius: 0.4rem;
}
