.gallery {
  padding: 20px;
  /* display: none; */
}

.gallery-options {
  margin-bottom: 20px;
}
.gallery-imgs {
  grid-template-columns: repeat(auto-fill, minmax(100px, 150px));
  gap: 15px;
}

.gallery-img img {
  width: 100%;
  border-radius: 3px;
}
